 /* header {
  position: fixed;
  top: 1em;
}  */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  
}

/* Logo */
.navbar--logo{
  flex: 1;
}

.logo--image{
  width: 30%;
  height: 25%;
  object-fit: cover;
}

/* Menu */
.navbar--menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu--link {
  font-family: var(--font-base);
  color: var(--color-grey);
  font-weight: 600;
}

.navbar--hamburgerMenu {
  display: none;
}